<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>

<body>
    <div class="container">
        <h1>Mood Tracker</h1>
        <p>Seu diário emocional digital</p>
        <button type="button"> <a href="/login">Entrar</a> </button>
        
        <a href="/register">Cadastrar</a>
    </div>
</body>
</html>