<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <link rel="stylesheet" href="/css/register.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container">

        <div class="logo">MoodBit.</div>

        <div class="form-section">
            <h1 id="titulo">Comece sua jornada.</h1>
            <p id="subtitulo">Acompanhe suas emoções diariamente</p>

            <div class="buttons-top">
                <a href="/login.ejs" class="login-button"><button type="button">Entrar</button></a>
                <a href="/register.ejs" class="register-button"><button type="button">Criar conta</button></a>
            </div>

            <hr>

            <% if (error) { %>
                <div class="error">
                    <%= error %>
                </div>
                <% } %>

                    <% if (success) { %>
                        <div class="success">
                            <%= success %>
                        </div>
                        <% } %>

                            <form method="POST" action="/views/register.ejs">
                                <input type="text" name="name" placeholder="Nome" required>
                                <input type="email" name="email" placeholder="E-mail" required>
                                <input type="password" name="password" placeholder="Senha" required>
                                <input type="password" name="confirmPassword" placeholder="Repita a senha" required>

                                <button type="submit" class="submit-btn">Criar minha conta</button>
                            </form>

                            <div class="link">
                                <a href="/views/login.ejs">Já possui conta?</a>
                            </div>
        </div>

    </div>
</body>

</html>